@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

html {
  color:black;
  background-color: blanchedalmond;
  height:fit-content;
}

.header {
  display:flex;
  justify-content: center;
  background-color: lightblue;
  color:lightcoral;
  text-shadow: 0 0 2px black;
  font-family: monospace;
  font-size: 1.5rem;
  height:100px;
}
main {
  margin-left: 10%;
  margin-right: 10%;
  height:600px;
}

  ul {
  display:flex;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 15%;
  list-style: none;
  text-decoration: underline;
  background-color: lightskyblue;
  border: 2px solid black;
}

.h2 {
  display: flex;
  justify-content: center;
  text-decoration: underline black;
}
h2 {
  padding: 0px 35px 0px 35px;
}

.content {
  display: flex;
  justify-content: space-between;
}

p {
  padding: 0px 35px 0px 35px;
}
.images {
  display: flex;
  align-items: baseline;
  overflow:scroll;
  width:400px;
  height:300px;
}
img {
  align-self: center;
}

footer {
  background-color: lightblue;
  display: flex;
  justify-content: end;
  height: 100px;
}
