@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

html {
  color:black;
  background-color: blanchedalmond;
  height:fit-content;
  font-family: muli;
}

.header {
  display:flex;
  justify-content: center;
  background-color: lightblue;
  color:lightcoral;
  text-shadow: 0 0 2px black;
  font-family: monospace;
  font-size: 1.5rem;
  height:100px;
}
main {
  margin-left: 10%;
  margin-right: 10%;
  height:600px;
}
  ul {
  display:flex;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 15%;
  list-style: none;
  text-decoration: underline;
  background-color: lightskyblue;
  border: 2px solid black;
}

.h2 {
  display: flex;
  justify-content: space-between;
  text-decoration: underline black;
  margin: 0 10% 0 10%;
  font-size: 1.5rem;
  font-family: 'Dancing Script', cursive;
}
#center {
  padding-right: 25px;
}
#right {
  padding-right: 75px;
}

.content {
  display: flex;
  justify-content: space-between;
}

p {
  padding: 0px 45px 0px 45px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: darkblue;
}

footer {
  background-color: lightblue;
  display: flex;
  justify-content: end;
  height: 100px;
}
image {
  justify-content: left;
}