@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
html {
  color:black;
  background-color: blanchedalmond;
  font-family: muli;
}
header {
  font-size: 1.5rem;
  text-align: center;
}

fieldset {
  display:flex;
  justify-content: space-between;
  margin: 2%;
}
.overflowScroll {
  height: 300px;
}

table {
  color:black;
  margin-left: 100px;
  margin-right:100px;
  background-color: lightskyblue;
}

td {
  width: 100px;
  height: 50px;
  border: 2px solid black;
  text-align: center;
}
#thead {
  margin-left: 50px;
}
#tbody {
  text-align: center;
  text-decoration: bold;
  text-decoration: underline 2px;
  font-size: 1.25em;
}
th {
  background-color: lightsalmon;
}
img {
  margin-top: 100px;
  width:600px;
  height:200px;
  display:block;
}
